h1 {
  font-size: 24pt;
  text-shadow: 4px 4px 4px #aaa
 }
h2 {
  font-size: 18pt;
 }
h3 {
  font-size: 18pt;
}

input {
  width: 100px;
    height: 25px;
  font-size: 20px;
  border: 0; 
  }
li {
	list-style-type: none;
}  
ul {
	padding-top: 0;
	margin-top: 0;
}
.point_of_list{
	cursor: pointer;
}
.sub_title {
	margin: 10px;
	font-size: 14pt;
	cursor: pointer;
}
.hide {
display: none;
}
.form {
  margin: 5px 5px 0px 5px
  }
#contanerOUTTER {
  width: 1180px;
    height:1800px;
  float: left;
  }
#hat_bar {
  width: 880px;
    heihgt: 300px;
  float: left;
  background: rgb(250,250,250);
  }
#side_bar {
  width: 300px;
    height: 1500px;
  float: left;
  background: rgb(200,200,200);
  }
#contanerINNER {
  width: 880px;
    height: 1381px;
  float: left;
  background: rgb(250,250,250);
  }
#contanerFORM {
  width: 460px;
    height: 800px;
  }
#contanerBUTTON {
  text-align: left;
  }
#buttonTOTAL_size {
  width: 200px;
    height: 25px;
  }
